input:focus{
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

.main-div{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 45%;
    margin: 0 auto;
    padding: 20px 40px;
    height: 83.5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.top-container{
    height: 45%;
}

.show-items{
    height: 55%;
    overflow-y: scroll;
}

.date-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.date-wrapper p{
    font-weight: 600;
    text-transform: uppercase;
    color: #6e6e6e;
    font-size: 14px;
}

.date-container{
    display: flex;
    align-items: center;
}

.date-container h2{
    font-size: 42px;
    font-weight: 600;
    /* color: #aeaeae; */
    color: #6e6e6e;
}

.date-inner-container{
    margin-left: 8px;
}

.date-inner-container h3{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6e6e6e;
    margin-bottom: 3px;
}

.date-inner-container h4{
    font-size: 12px;
    font-weight: 500;
    color: #6e6e6e;
}

.add-item-box{
    display: flex;
}

.add-item-box input{
    background-color: #f0f0f085;
    border: none;
    width: 100%;
    padding: 14px 10px;
    border-radius: 10px;
}

.task-info{
    display: flex;
    justify-content: space-between;
}

.task-info input{
    background-color: #f0f0f085;
    border: none;
    width: 48%;
    padding: 14px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.add-item-box button{
    border: none;
    padding: 10px 15px; 
    margin-left: 8px;
    border-radius: 10px;
    background-color: #50e3a4;
}

.add-item-box button:hover{
    cursor: pointer;
}

.add-item-box button i{
    font-size: 18px;
    color: #ffffff;
}

.each-item-container{
    background-color: #e1f8dc9e;
    padding: 15px;
    margin-top: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.each-item input{
    border: none;
    outline: none;
    background-color: #e1f8dc9e;
    font-size: 16px;
}

.icon-container i:hover{
    cursor: pointer;
}

.icon-container .delete-icon{
    color: #dc3545;
}

.icon-container .edit-icon{
    color: #28a745;
    margin-right: 20px;
}

.task-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-title h6{
    font-size: 18px;
    text-transform: capitalize;
}

.task-title p{
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

#edit-btn{
    background-color: #50e3a4;
    display: none;
}

#cancel-edit-btn{
    background-color: red;
    display: none;
}

#task-id{
    display: none;
}